section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}


section h3 {
    background-color: #f4f4f4;
    padding: 15px;
    border-left: 5px solid #8b4513;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}


section h3:hover {
    background-color: #ebe3dc;
    border-left: 5px solid #6d3410;
    transform: translateX(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


section p {
    padding: 10px 15px;
    line-height: 1.6;
    color: #333;
}


hr {
    margin: 30px 0;
}


.boton-volver {
    background-color: #380e0e;
    color: white;
    border: none;
    width: 100%;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.boton-volver:hover {
    background-color: #6d3410;
    transform: scale(1.05);
}


section p:last-of-type {
    text-align: center;
    margin-bottom: 15px;
}