<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes</title>
    <link rel="stylesheet" href="../style/preguntas.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../Assets/components/comp.css">
    <link rel="stylesheet" href="../style/Carrito.css">
</head>
<body>

    <div id="header-container"></div>

    <section>
        <h2>Preguntas Frecuentes</h2>

        <h3 onclick="mostrar('rep1')">¿Cuánto tarda el servicio técnico?</h3>
            <p id="rep1" style="display:none;">
                El tiempo de respuesta es de 24 a 48 hs hábiles.
            </p>

        <h3 onclick="mostrar2('rep2')">¿Las máquinas tienen garantías?</h3>
            <p id="rep2" style="display:none;">
                Sí, todas nuestras máquinas cuentan con garantía oficial.
            </p>

        <h3 onclick="mostrar3('rep3')">¿Dónde puedo descargar los manuales técnicos?</h3>
            <p id="rep3" style="display:none;">
                Los manuales se encuentran disponibles en la sección Inicio.
            </p>

        <h3 onclick="mostrar4('rep4')">¿Realizan mantenimientos preventivos?</h3>
            <p id="rep4" style="display:none;">
                Sí, ofrecemos planes de mantenimiento para empresas y cafeterías.
            </p>
        <hr>

        <p>¿No encontraste la respuesta que buscabas?</p>

        <div class="campo">
            <a href="soporte.html" class="boton-volver">
                Volver a soporte técnico
            </a>
        </div>
    </section>

    <div id="footer-container"></div>

    <script src="../script.js"></script>
    <script src="../carrito.js"></script>
    <script>
        inyectarComponente('header-container', '../Assets/components/headerin.html');
        inyectarComponente('footer-container', '../Assets/components/footer.html');
    </script>

</body>
</html>