<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas frecuentes</title>
    <link rel="stylesheet" href="../style/preguntas.css">

</head>
<body>
    <section>
        <h2>Preguntas Frecuentes</h2>

        <h3>¿Cuanto tarda el servicio tecnico?</h3>
        <p>El tiempo de respuesta es de 24 a 48 hs habiles.</p>

        <h3>¿Las maquinas tienen grarantias?</h3>
        <p>Si, todas nuestras cuentan con garantia oficial.</p>

        <h3>¿Donde puedo descargar los manuales tecnicos?</h3>
        <p>Los manuales se encuentran disponibles en la seccion Inicio.</p>

        <h3>¿Realizan mantenimientos preventivos?</h3>
        <p>Si, ofrecemos planes de mantenimientos para empresas y cafeterias.</p>

        <hr>

        <p>¿No encontraste la respuesta que buscabas?</p>
        <a href="soporte.html"></a>
        <button>Contactar soporte tecnico</button>
    </section>
    
</body>
</html>