<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartRoast - Soporte Técnico</title>
    <link rel="stylesheet" href="../style/soporte.css">
</head>
<body>

    <div id="header-container"></div>

    <main class="caja-formulario">
        <a href="../index.html" class="boton-volver">Volver al Inicio</a>
        
        <h1 class="titulo">Soporte Técnico</h1>
        <p class="subtitulo">Llená los datos para que revisemos tu máquina rápido.</p>

        <form>
            <div class="campo">
                <label>Nombre del Tostadero o Cafetería:</label>
                <input type="text" placeholder="Ej: Cafetería Carlitos" required>
            </div>

            <div class="campo">
                <label>Correo Electrónico:</label>
                <input type="email" placeholder="Carlitos@correo.com" required>
            </div>

            <div class="campo">
                <label>¿Qué máquina falla?:</label>
                <select required>
                    <option value="">-- Selecciona una opción --</option>
                    <option value="tostadora">Tostadora de Café</option>
                    <option value="molino">Molino de Café</option>
                    <option value="otro">Otro equipo</option>
                </select>
            </div>

            <div class="campo">
                <label>¿Qué tan urgente es?:</label>
                <select required>
                    <option value="baja">Baja (Mantenimiento)</option>
                    <option value="media">Media (Falla un poco)</option>
                    <option value="alta">Crítica (Producción parada)</option>
                </select>
            </div>

            <div class="campo">
                <label>Contanos qué le pasa a la máquina:</label>
                <textarea rows="4" placeholder="Ej: No calienta el tambor..." required></textarea>
            </div>

            <div class="campo">
                <button type="submit" class="boton-enviar">Enviar Reporte</button>
            </div>
        </form>
    </main>

    <div id="footer-container"></div>
    
    <script src="../script.js"></script>
    <script>
        inyectarComponente('header-container', '../Assets/components/headerin.html');
        inyectarComponente('footer-container', '../Assets/components/footer.html');
    </script>
</body>
</html>