.barra-superior {
    background-color: #4e342e;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.452);
}
.marca {
    display: flex;
    align-items: center;
    gap: 15px;
}
.marca img {
    width: 50px;
    height: auto;
}
.marca h1 {
    margin: 0;
    font-size: 24px;
}
.menu a {
    color: #d7ccc8;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}
.menu a:hover {
    color: white;
}
.menu-boton {
    background-color: #d84315;
    color: white !important;
    padding: 8px 15px;
    border-radius: 5px;
}
.pie-pagina {
    background-color: #3e2723;
    color: #d7ccc8;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    font-size: 14px;
}